body {
  font-family: Helvetica, sans-serif;
}
.card {
  max-width: 460px;
  padding: 1em;
  margin-inline: auto;
  margin-block: 2em;
  box-shadow: 0 0 10px 0 #00000025;
  border-radius: .25rem;
}

.grid {
  display: grid;
  grid-template-rows: 50px 100px 200px;
  grid-auto-rows: 300px;
  grid-template-columns: 300px 200px;
  grid-auto-columns: 70px;
}

.grid-item {
  background: #B823C1;
  color: white;
  padding: 1em 2em;
  border: 2px solid purple;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big {
    padding: 2em 2em;
    background: #FF5670;
    grid-column: 4 / 5;
}