* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}
p {
  font-size: 1.2em;
  font-weight: 100;
}
.card {
  max-width: 480px;
  padding: 1em 2em;
  margin-inline: auto;
  margin-block: 1rem;
  box-shadow: 0 0 10px 0 #00000025;
}
.grid {
  display: grid;
  grid-template-columns: 150px 150px 200px;
  
}

.grid-item {
  background: #B823C1;
  color: white;
  padding: 1em 2em;
  border: 2px solid purple;
  display: flex;
  align-items: center;
  justify-content: center;
}

.big {
    padding: 3em 2em;
    background: #FF5670;
}